{% extends 'base.html.twig' %}

{% block title %}Pagedacceuil{% endblock %}

{% block body %}
    <head>
        <!-- BANDEAU AVEC L IMAGE-->
    </head>
    <div id="div-accueil">
        <p id="txtpageaccueil">
            La société Legermain, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir
            faire à votre service.
            Pour vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques faites confiance à deux
            techniciens du bois, André Legermain et Philippe Troquin habitués à intervenir, notamment, sur des bâtiments
            classés Monuments Historiques.
        </p>
        <!-- IMG -->
    </div>
    <div id="div-accueil">
        <p id="txtpageaccueil">
            Nos techniciens peuvent répondre à tout type de demandes. Il vous est en effet possible de demander tout
            type de produit, allant d'une charpente aux couvertures, en passant par des escaliers, rambardes et
            garde-corps, lucarnes et autres menuiseries artisanales de votre choix.
            Nos produits sont d'exellentes qualités et faites sur-mesures
        </p>
        <a id="boutonaccueil" href={{ path('article_index') }}><input type="button" value="Nos créations"></a>
        <!-- IMG -->
    </div>
    <div id="div-accueil">
        <p id="txtpageaccueil">
            Habitué à travailler sur des bâtiments classés monuments historiques, nos techniciens du bois, André
            Legermain et Philippe Troquin sont tout deux très bien qualifiés.
            Notre entreprise est en effet certifée par Qualibat. Nos meunuisiers se sont également vu attribué le titre
            de maître artisant en 2018.
            Nous apportons un soin particulier à l’écoute et au conseil, deux points essentiels qui précédent la
            réalisation de vos ouvrages.
            Réaliser un travail artisanal, respectueux des traditions, tout en accordant notre prestation à votre
            budget, telle est notre ambition.
            N'hésitez pas à nous soumettres vos projets !
        </p>
        <a id="boutonaccueil" href="{{ path('demandeprojet_new') }}"><input type="button" value="Contactez-nous"></a>
    </div>
    <div id="div-accueil">
        <table>
            <tr>
                <td>
                    ABC Legremain <br>
                    02 47 36 70 34 <br>
                    info@legermain.com
                </td>
                <td>
                    Zone Artisanale <br>
                    72140 Rouez en Champagne <br>
                </td>
                <td rowspan="3">
                    <iframe id="plan" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.21395441989!2d-0.11924664887057737!3d48.144680279122085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4809d3c8d4f3a645%3A0x7fbb5592ea0f8ee7!2sABCLEROYER!5e0!3m2!1sfr!2sfr!4v1636447090786!5m2!1sfr!2sfr"
                            width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </td>
            </tr>
        </table>
    </div>
    <!--<h1>Pagedacceuil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pagedacceuil.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pagedacceuil_index') }}">back to list</a>

    <a href="{{ path('pagedacceuil_edit', {'id': pagedacceuil.id}) }}">edit</a>

    {{ include('pagedacceuil/_delete_form.html.twig') }}
    -->
{% endblock %}
