{% extends 'base.html.twig' %}

{% block title %}Offreemploi index{% endblock %}

{% block body %}
    <h1>Liste des offres d'emploi</h1>

    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offreemploi in offreemplois %}
            <tr>
                <td>{{ offreemploi.id }}</td>
                <td>{{ offreemploi.description }}</td>
                <td>{{ offreemploi.titre }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('offreemploi_show', {'id': offreemploi.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('offreemploi_edit', {'id': offreemploi.id}) }}">Edit</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ path('reponseoffre_new', {'id': offreemploi.id}) }}">Postuler</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('offreemploi_new') }}">Create new</a>
    {% endif %}
{% endblock %}
