{% extends 'base.html.twig' %}

{% block title %}Reponseoffre index{% endblock %}

{% block body %}
    <h1>Réponses aux offres :</h1>

    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Id de la réponse</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>email</th>
                <th>CV</th>
                <th>Lettre de motivation</th>
            </tr>
        </thead>
        <tbody>
        {% for reponseoffre in reponseoffres %}
            <tr>
                <td>{{ reponseoffre.id }}</td>
                <td>{{ reponseoffre.nom }}</td>
                <td>{{ reponseoffre.prenom }}</td>
                <td>{{ reponseoffre.email }}</td>
                <td>{{ reponseoffre.CV }}</td>
                <td>{{ reponseoffre.lettre }}</td>


                <td>
                    <a class="btn btn-primary" href="{{ path('reponseoffre_show', {'id': reponseoffre.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('reponseoffre_edit', {'id': reponseoffre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
